ul#menu {
  clear: both;
  float: right;
  list-style: none;
  margin: 0px 10px 0 0px;
  border-bottom: 1px solid #333333; /*Remove to create tab effect*/
  width: 500px; /*If tab effect is not being used, this will define how long the bottom border will be*/
}

ul#menu li {
  display: inline;
  list-style: none;
}

ul#menu li a {
  margin-right: 5px;
  color: #ffffff;
  display: block;
  float: left;
  font: 14px/100% Arial, Helvetica, sans-serif;
  line-height: 32px;
  text-decoration: none;
  vertical-align: middle;
  padding: 0 10px;
  background-color: #aaaaaa; /*A basic background color is set incase the image will not load*/
  border: 1px solid #333333;
  border-bottom: none;
}

.nav {
  background-color: rgb(46, 49, 49);
}
body {
  background: #8999a8;
}
.navbar,
.dropdown-menu {
  background: rgba(255, 255, 255, 0.25);
  border: none;
}

.nav > li > a,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a,
.dropdown-menu > li {
  border-bottom: 3px solid transparent;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a,
.dropdown-menu > li > a,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.navbar-toggle {
  color: #fff;
}
.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav li:hover:nth-child(8n + 1),
.nav li.active:nth-child(8n + 1) {
  border-bottom: #c4e17f 3px solid;
}
.nav li:hover:nth-child(8n + 2),
.nav li.active:nth-child(8n + 2) {
  border-bottom: #f7fdca 3px solid;
}
.nav li:hover:nth-child(8n + 3),
.nav li.active:nth-child(8n + 3) {
  border-bottom: #fecf71 3px solid;
}
.nav li:hover:nth-child(8n + 4),
.nav li.active:nth-child(8n + 4) {
  border-bottom: #f0776c 3px solid;
}
.nav li:hover:nth-child(8n + 5),
.nav li.active:nth-child(8n + 5) {
  border-bottom: #db9dbe 3px solid;
}
.nav li:hover:nth-child(8n + 6),
.nav li.active:nth-child(8n + 6) {
  border-bottom: #c49cde 3px solid;
}
.nav li:hover:nth-child(8n + 7),
.nav li.active:nth-child(8n + 7) {
  border-bottom: #669ae1 3px solid;
}
.nav li:hover:nth-child(8n + 8),
.nav li.active:nth-child(8n + 8) {
  border-bottom: #62c2e4 3px solid;
}

.navbar-toggle .icon-bar {
  color: #fff;
  background: #fff;
}
