<nav class="nav">
  <a class="navbar-brand" routerLink="/"
    ><img
      src="/assets/img/logo1.png"
      alt="Logo"
      height="50"
      width="100"
    />Whats-UR-Opinion</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul id="menu">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">Take survey</a></li>
    <li><a routerLink="/contact"> Admin Surveys</a></li>
    <li
      *ngIf="isLoggedIn()"
      class="navbar-text text-success ml-5 mr-5 d-none d-lg-inline"
    >
      <i class="fas fa-lg fa-user"></i> Welcome, {{ user.displayName }}
    </li>
    <li *ngIf="isLoggedIn()" class="nav-item">
      <a (click)="onLogoutClick()" routerLink="/logout" class="nav-link"
        >Logout</a
      >
    </li>
    <li *ngIf="!isLoggedIn()" class="nav-item">
      <a routerLink="/login" class="nav-link"> Login</a>
    </li>
  </ul>
  <!-- <div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="">Home</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Departments</a>
                                </li>
                                <li><a href="#">Add New</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Add New</a></li>
                        <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managers <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Managers</a></li>
                                <li><a href="#">Add New</a></li>
                            </ul>
                        </li>
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Staff</a></li>
                                <li><a href="#">Add New</a></li>
                                <li><a href="#">Bulk Upload</a></li>
                            </ul>
                        </li>
                        <li class=" down"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HR <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Change Time Entry</a></li>
                                <li><a href="#">Report</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Change Password</a></li>
                                <li><a href="#">My Profile</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div> -->
  <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"
          ><i class="fas fa-lg fa-igloo"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about"
          ><i class="fa fa-lg fa-info"></i> About</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact"
          ><i class="fa fa-lg fa-phone"></i> Surveys</a
        >
      </li>

      <li
        *ngIf="isLoggedIn()"
        class="navbar-text text-success ml-5 mr-5 d-none d-lg-inline"
      >
        <i class="fas fa-lg fa-user"></i> Welcome, {{ user.displayName }}
      </li>

      <li *ngIf="isLoggedIn()" class="nav-item">
        <a (click)="onLogoutClick()" routerLink="/logout" class="nav-link">
          <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a
        >
      </li>

      <li *ngIf="!isLoggedIn()" class="nav-item">
        <a routerLink="/login" class="nav-link">
          <i class="fas fa-lg fa-sign-in-alt"></i> Login</a
        >
      </li>
    </ul>
  </div>*/ -->
</nav>
