.container {
  padding-top: 10px;
}
.surveyTitile {
  font-size: 40px;
  background-color: #fee151;
  color: #343a40;
}
.surveyTitile,
::-webkit-input-placeholder {
  /* Edge */
  color: #343a40;
}
.question {
  color: #343a40;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}
.input-group {
  padding: 10px;
}
.question {
  width: 90%;
}
.questionrow {
  padding-bottom: 10px;
}

/* Testing Zone */

#content {
  width: 100%;
  height: 90px;
  border: 1px solid black;
}
#contentInside {
  width: 100px;
  height: 70px;
  margin: 7px;
  border: 1px solid black;
  display: inline-flex;
}
i {
  cursor: pointer;
}
