
<body>
  <style>
    body,h1 {font-family: "Raleway", sans-serif;color: rgb(17, 17, 17)}
    body, html {height: 100%}
    .bgimg {
        background-image: url('/assets/img/comingsoon.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
    </style>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Whats-UR-Opinion
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
    <hr class="w3-border-grey" style="margin:auto;width:50%">
    <p class="w3-large w3-center">10 days left</p>
  </div>
  <div style="height:500px; width:300px"></div>
</div>
</body>